<h1> Welcome </h1>


<!-- // Event binding
// 1. wrap name of event in parenthesis
// 2. counterClick is a method => which gets called when the element gets clicked on
// 3. The clickCounter property => created in homecomponent.ts file
 -->

<div class="about-container">
  <p> You Click <span (click)="counterClick()">this</span>{{clickCounter}} times </p>

</div>

<!-- // ngModel allows for 2 way data binding 
    1. The input property will RECIEVE and SEND info from and too the home.component.ts 

-->

<div class="about-container">
  <input type="text" [(ngModel)]="name">
  <br>
  <strong> You said: </strong> {{ name }}

</div>


<!-- //ngTemplate custom element 
    If this expression: clickCounter > 4 resolves to true:
        will show whatever elements are inside this ng-template tag and if false => will show the ng-template #none tag
    
    Style&property binding => [style.nameOfCssProperty] => bind this to an expression of some sort 

-->
<div class="about-container" [class.active]="clickCounter > 4">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">

    <p> The click counter <strong>is GREATER </strong>than 4</p>
  </ng-template>


  <!-- // in reference to above's none -->
  <ng-template #none>
    <p> The click counter is <strong>not greater </strong>than 4</p>

  </ng-template>


</div>
